USE [MaiAnVat]
GO
/****** Object:  User [evolution]    Script Date: 7/17/2021 12:12:05 PM ******/
CREATE USER [evolution] FOR LOGIN [evolution] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [evolution]
GO
/****** Object:  Schema [Identity]    Script Date: 7/17/2021 12:12:05 PM ******/
CREATE SCHEMA [Identity]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](512) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Editable] [bit] NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryClassification]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryClassification](
	[CategoryClassificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](512) NOT NULL,
	[CategoryFK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorage]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorage](
	[FileStorageK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[FileFolder] [nvarchar](255) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FileStorage] PRIMARY KEY CLUSTERED 
(
	[FileStorageK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[Status] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ParentGroupFK] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPermission]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPermission](
	[GroupPermissionK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupFK] [uniqueidentifier] NULL,
	[PermissionFK] [uniqueidentifier] NULL,
	[Status] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobStatusFK] [uniqueidentifier] NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[IsActivated] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeactivatedUtc] [datetime] NULL,
	[DeactivatedUserFK] [int] NULL,
	[WorkflowStatusFK] [uniqueidentifier] NOT NULL,
	[CustomerOrder] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignedUser]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignedUser](
	[JobAssignedUserK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[JobAssignmentListFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignedUser] PRIMARY KEY CLUSTERED 
(
	[JobAssignedUserK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignmentList]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignmentList](
	[JobAssignmentListK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[GroupFK] [uniqueidentifier] NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignmentList] PRIMARY KEY CLUSTERED 
(
	[JobAssignmentListK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignmentListStatus]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignmentListStatus](
	[JobAssignmentListStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobAssignmentListFK] [uniqueidentifier] NOT NULL,
	[WorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignmentListStatus] PRIMARY KEY CLUSTERED 
(
	[JobAssignmentListStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobMessage]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobMessage](
	[MessageK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[MessageText] [nvarchar](4000) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[MessageFK] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobType]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobType](
	[JobTypeK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NULL,
	[Description] [nvarchar](512) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DefaultTimeInHours] [int] NOT NULL,
	[ColorCode] [varchar](7) NULL,
	[IsException] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTypeWorkFlow]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTypeWorkFlow](
	[JobTypeWorkFlowK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Description] [nvarchar](512) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_JobTypeWorkflow] PRIMARY KEY CLUSTERED 
(
	[JobTypeWorkFlowK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobWorkFlowMove]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobWorkFlowMove](
	[JobWorkFlowMoveK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[FromWorkFlowStatusFK] [uniqueidentifier] NULL,
	[ToWorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobWorkFlowMove] PRIMARY KEY CLUSTERED 
(
	[JobWorkFlowMoveK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobWorkFlowStatus]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobWorkFlowStatus](
	[JobWorkFlowStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[JobTypeWorkFlowFK] [uniqueidentifier] NOT NULL,
	[FromWorkFlowStatusFK] [uniqueidentifier] NULL,
	[ToWorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobWorkFlowStatus] PRIMARY KEY CLUSTERED 
(
	[JobWorkFlowStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListCategory]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListCategory](
	[ListCategoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](512) NOT NULL,
	[CategoryFK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MavMenu]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MavMenu](
	[MavMenuK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](255) NOT NULL,
	[MenuType] [nvarchar](64) NULL,
	[UiSref] [nvarchar](255) NULL,
	[UiSrefActiveIf] [nvarchar](255) NULL,
	[ParentMenuID] [int] NULL,
	[MenuOrder] [tinyint] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[MenuLevel] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DisplayMenuName] [nvarchar](255) NOT NULL,
	[FeatureKey] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[EntityTypeName] [nvarchar](250) NULL,
	[EntityId] [nvarchar](96) NULL,
	[NotificationName] [nvarchar](96) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupingName] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionType]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionType](
	[PermissionTypeK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[OrderOfPrecedence] [int] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationJob]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationJob](
	[RegistrationJobK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ConfirmedUtc] [datetime] NULL,
	[ConfirmedUserFK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[ScheduleTypeFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[PlannedStartDate] [datetime] NOT NULL,
	[PlannedEndDate] [datetime] NOT NULL,
	[ActualStartDate] [datetime] NULL,
	[ActualEndDate] [datetime] NULL,
	[Lock] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleHistory]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleHistory](
	[ScheduleHistoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleFK] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](64) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[UserFK] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[UserGroupK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupFK] [uniqueidentifier] NULL,
	[UserFK] [int] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginHistory]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginHistory](
	[UserLoginHistoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserOperation] [nvarchar](50) NULL,
	[Message] [nvarchar](250) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[UserNotificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[UserFK] [int] NOT NULL,
	[NotificationFK] [uniqueidentifier] NOT NULL,
	[State] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFlowStatus]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlowStatus](
	[WorkFlowStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Description] [varchar](512) NULL,
	[PreviousStatusK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[StatusCode] [varchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Identity].[User]    Script Date: 7/17/2021 12:12:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastLoginDateUtc] [datetime] NULL,
	[PasswordExpirationDateUtc] [datetime] NULL,
	[Status] [int] NULL,
	[ChangePasswordFailedCount] [int] NOT NULL,
	[LoginOption] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[PersonalEmailAddress] [nvarchar](64) NULL,
	[MobileNumber] [nvarchar](64) NULL,
	[ImageFileName] [nvarchar](256) NULL,
 CONSTRAINT [PK_Identity.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [PK__Category__0801D9A56A6FA8F4]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Category] ADD PRIMARY KEY NONCLUSTERED 
(
	[CategoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Category__F271C41026BB9FE3]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[CategoryClassification] ADD PRIMARY KEY NONCLUSTERED 
(
	[CategoryClassificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Group__D10DF35876D916B6]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Group] ADD PRIMARY KEY NONCLUSTERED 
(
	[GroupK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__GroupPer__77B40ED12C09340A]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[GroupPermission] ADD PRIMARY KEY NONCLUSTERED 
(
	[GroupPermissionK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Job__9E749C2A6299A70A]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Job] ADD PRIMARY KEY NONCLUSTERED 
(
	[JobK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__JobMessa__0FB9948A11FE0270]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[JobMessage] ADD PRIMARY KEY NONCLUSTERED 
(
	[MessageK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__JobType__1DA7FD3DB2B525E6]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[JobType] ADD PRIMARY KEY NONCLUSTERED 
(
	[JobTypeK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__ListCate__9434FEB670354244]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[ListCategory] ADD PRIMARY KEY NONCLUSTERED 
(
	[ListCategoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__MavMenu__70F3A95FCBE90F53]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[MavMenu] ADD PRIMARY KEY NONCLUSTERED 
(
	[MavMenuK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Notifica__A72F067DBCA36FEA]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Notification] ADD PRIMARY KEY NONCLUSTERED 
(
	[NotificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Permissi__C5E77B0EF108572D]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Permission] ADD PRIMARY KEY NONCLUSTERED 
(
	[PermissionK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Permissi__619CC5209C7CF545]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[PermissionType] ADD PRIMARY KEY NONCLUSTERED 
(
	[PermissionTypeK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Registra__BB73567E75D3B560]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[RegistrationJob] ADD PRIMARY KEY NONCLUSTERED 
(
	[RegistrationJobK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Schedule__FA9A8324BA664F6C]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[Schedule] ADD PRIMARY KEY NONCLUSTERED 
(
	[ScheduleK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Schedule__B65DE38F260B8068]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[ScheduleHistory] ADD PRIMARY KEY NONCLUSTERED 
(
	[ScheduleHistoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserGrou__240A7FB77552F06B]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[UserGroup] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserGroupK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserLogi__BB63EF7250AD5D13]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[UserLoginHistory] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserLoginHistoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserNoti__7791942798C4EB07]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[UserNotification] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserNotificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__WorkFlow__5FC254F176CAF718]    Script Date: 7/17/2021 12:12:05 PM ******/
ALTER TABLE [dbo].[WorkFlowStatus] ADD PRIMARY KEY NONCLUSTERED 
(
	[WorkFlowStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (newsequentialid()) FOR [CategoryK]
GO
ALTER TABLE [dbo].[CategoryClassification] ADD  DEFAULT (newsequentialid()) FOR [CategoryClassificationK]
GO
ALTER TABLE [dbo].[FileStorage] ADD  DEFAULT (newsequentialid()) FOR [FileStorageK]
GO
ALTER TABLE [dbo].[Group] ADD  DEFAULT (newsequentialid()) FOR [GroupK]
GO
ALTER TABLE [dbo].[GroupPermission] ADD  DEFAULT (newsequentialid()) FOR [GroupPermissionK]
GO
ALTER TABLE [dbo].[Job] ADD  DEFAULT (newsequentialid()) FOR [JobK]
GO
ALTER TABLE [dbo].[JobAssignedUser] ADD  CONSTRAINT [DF_JobAssignedUser_JobAssignedUserK]  DEFAULT (newsequentialid()) FOR [JobAssignedUserK]
GO
ALTER TABLE [dbo].[JobAssignmentList] ADD  CONSTRAINT [DF_JobAssignmentList_JobAssignmentListK]  DEFAULT (newsequentialid()) FOR [JobAssignmentListK]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] ADD  DEFAULT (newsequentialid()) FOR [JobAssignmentListStatusK]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[JobMessage] ADD  DEFAULT (newsequentialid()) FOR [MessageK]
GO
ALTER TABLE [dbo].[JobType] ADD  DEFAULT (newsequentialid()) FOR [JobTypeK]
GO
ALTER TABLE [dbo].[JobType] ADD  CONSTRAINT [DF_JobType_ColorCode]  DEFAULT (N'#5bc0de') FOR [ColorCode]
GO
ALTER TABLE [dbo].[JobType] ADD  DEFAULT ((1)) FOR [IsException]
GO
ALTER TABLE [dbo].[JobTypeWorkFlow] ADD  CONSTRAINT [DF_JobTypeWorkflow_JobTypeWorkFlowK]  DEFAULT (newsequentialid()) FOR [JobTypeWorkFlowK]
GO
ALTER TABLE [dbo].[JobWorkFlowMove] ADD  CONSTRAINT [DF_JobWorkFlowMove_JobWorkFlowMoveK]  DEFAULT (newsequentialid()) FOR [JobWorkFlowMoveK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] ADD  CONSTRAINT [DF_JobWorkFlowStatus_JobWorkFlowStatusK]  DEFAULT (newsequentialid()) FOR [JobWorkFlowStatusK]
GO
ALTER TABLE [dbo].[ListCategory] ADD  DEFAULT (newsequentialid()) FOR [ListCategoryK]
GO
ALTER TABLE [dbo].[MavMenu] ADD  DEFAULT (newsequentialid()) FOR [MavMenuK]
GO
ALTER TABLE [dbo].[MavMenu] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (newsequentialid()) FOR [NotificationK]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (newsequentialid()) FOR [PermissionK]
GO
ALTER TABLE [dbo].[PermissionType] ADD  DEFAULT (newsequentialid()) FOR [PermissionTypeK]
GO
ALTER TABLE [dbo].[RegistrationJob] ADD  DEFAULT (newsequentialid()) FOR [RegistrationJobK]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (newsequentialid()) FOR [ScheduleK]
GO
ALTER TABLE [dbo].[ScheduleHistory] ADD  DEFAULT (newsequentialid()) FOR [ScheduleHistoryK]
GO
ALTER TABLE [dbo].[UserGroup] ADD  DEFAULT (newsequentialid()) FOR [UserGroupK]
GO
ALTER TABLE [dbo].[UserLoginHistory] ADD  DEFAULT (newsequentialid()) FOR [UserLoginHistoryK]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT (newsequentialid()) FOR [UserNotificationK]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[WorkFlowStatus] ADD  DEFAULT (newsequentialid()) FOR [WorkFlowStatusK]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((1)) FOR [EmailConfirmed]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((0)) FOR [LockoutEnabled]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT (getutcdate()) FOR [CreatedAtUtc]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [Identity].[User] ADD  DEFAULT ((0)) FOR [ChangePasswordFailedCount]
GO
ALTER TABLE [dbo].[CategoryClassification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryClassification_dbo.Category_CategoryK] FOREIGN KEY([CategoryFK])
REFERENCES [dbo].[Category] ([CategoryK])
GO
ALTER TABLE [dbo].[CategoryClassification] CHECK CONSTRAINT [FK_dbo.CategoryClassification_dbo.Category_CategoryK]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_ParentGroup] FOREIGN KEY([ParentGroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_ParentGroup]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_GroupPermission_ToGroup] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_GroupPermission_ToGroup]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_GroupPermission_ToPermission] FOREIGN KEY([PermissionFK])
REFERENCES [dbo].[Permission] ([PermissionK])
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_GroupPermission_ToPermission]
GO
ALTER TABLE [dbo].[Job]  WITH NOCHECK ADD  CONSTRAINT [jobs.Job_JobStatusFK_dbo.ListCategory_ListCategoryK] FOREIGN KEY([JobStatusFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [jobs.Job_JobStatusFK_dbo.ListCategory_ListCategoryK]
GO
ALTER TABLE [dbo].[Job]  WITH NOCHECK ADD  CONSTRAINT [jobs.Job_JobTypeFK_jobs.JobType_JobTypeK] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [jobs.Job_JobTypeFK_jobs.JobType_JobTypeK]
GO
ALTER TABLE [dbo].[Job]  WITH NOCHECK ADD  CONSTRAINT [jobs.Job_WorkflowStatusFK_dbo.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([WorkflowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [jobs.Job_WorkflowStatusFK_dbo.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_Job] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_Job]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_JobAssignmentList] FOREIGN KEY([JobAssignmentListFK])
REFERENCES [dbo].[JobAssignmentList] ([JobAssignmentListK])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_JobAssignmentList]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_User] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_User]
GO
ALTER TABLE [dbo].[JobAssignmentList]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentList_Group] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[JobAssignmentList] CHECK CONSTRAINT [FK_JobAssignmentList_Group]
GO
ALTER TABLE [dbo].[JobAssignmentList]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentList_JobType] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[JobAssignmentList] CHECK CONSTRAINT [FK_JobAssignmentList_JobType]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentListStatus_ToJobAssignmentList] FOREIGN KEY([JobAssignmentListFK])
REFERENCES [dbo].[JobAssignmentList] ([JobAssignmentListK])
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] CHECK CONSTRAINT [FK_JobAssignmentListStatus_ToJobAssignmentList]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentListStatus_ToWorkFlowStatus] FOREIGN KEY([WorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] CHECK CONSTRAINT [FK_JobAssignmentListStatus_ToWorkFlowStatus]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_JobFK_jobs.Job_JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_JobFK_jobs.Job_JobK]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_MessageFK_jobs.JobMessage_MessageK] FOREIGN KEY([MessageFK])
REFERENCES [dbo].[JobMessage] ([MessageK])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_MessageFK_jobs.JobMessage_MessageK]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_UserFK_jobs.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_UserFK_jobs.User_Id]
GO
ALTER TABLE [dbo].[JobTypeWorkFlow]  WITH CHECK ADD  CONSTRAINT [JobTypeWorkFlow_JobTypeFK.JobType_JobTypeK] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[JobTypeWorkFlow] CHECK CONSTRAINT [JobTypeWorkFlow_JobTypeFK.JobType_JobTypeK]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_Job] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_Job]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus] FOREIGN KEY([FromWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus_2] FOREIGN KEY([ToWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus_2]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_FromWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([FromWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_FromWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_JobTypeWorkFlowFK.JobTypeWorkFlow_JobTypeWorkFlowK] FOREIGN KEY([JobTypeWorkFlowFK])
REFERENCES [dbo].[JobTypeWorkFlow] ([JobTypeWorkFlowK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_JobTypeWorkFlowFK.JobTypeWorkFlow_JobTypeWorkFlowK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_ToWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([ToWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_ToWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[ListCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListCategory_dbo.Category_CategoryK] FOREIGN KEY([CategoryFK])
REFERENCES [dbo].[Category] ([CategoryK])
GO
ALTER TABLE [dbo].[ListCategory] CHECK CONSTRAINT [FK_dbo.ListCategory_dbo.Category_CategoryK]
GO
ALTER TABLE [dbo].[RegistrationJob]  WITH NOCHECK ADD  CONSTRAINT [registrationjobs.RegistrationJob_JobFK_dbo.Job_JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[RegistrationJob] CHECK CONSTRAINT [registrationjobs.RegistrationJob_JobFK_dbo.Job_JobK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_JobFK.JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_JobFK.JobK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_ScheduleTypeFK_ListCategory.ListCategoryK] FOREIGN KEY([ScheduleTypeFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_ScheduleTypeFK_ListCategory.ListCategoryK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_UserFK_User.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_UserFK_User.User_Id]
GO
ALTER TABLE [dbo].[ScheduleHistory]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleHistory_Schedule] FOREIGN KEY([ScheduleFK])
REFERENCES [dbo].[Schedule] ([ScheduleK])
GO
ALTER TABLE [dbo].[ScheduleHistory] CHECK CONSTRAINT [FK_ScheduleHistory_Schedule]
GO
ALTER TABLE [dbo].[ScheduleHistory]  WITH CHECK ADD  CONSTRAINT [ScheduleHistory_UserFK_User.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[ScheduleHistory] CHECK CONSTRAINT [ScheduleHistory_UserFK_User.User_Id]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_ToGroup] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_ToGroup]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_ToUser] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_ToUser]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotification_dbo.Identity_User_UserFK] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_dbo.UserNotification_dbo.Identity_User_UserFK]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotification_dbo.Notification_NotificationFK] FOREIGN KEY([NotificationFK])
REFERENCES [dbo].[Notification] ([NotificationK])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_dbo.UserNotification_dbo.Notification_NotificationFK]
GO
