@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/*ENGLISH REWARD PAGE*/
.english-reward {
    position: relative;
    background: rgb(255, 214, 141);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.english-reward .big-title {
    font-family: Baloo Tammudu;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 90px;
}
.english-reward .big-title h1 {
    color: #FFFFFF;
    width: fit-content;
    text-shadow: 2px 2px #070707;
}
.english-reward .img-home {
    height: 100%;
    max-height: 60vh;
    margin-right: auto;
    margin-left: auto;
    width: auto;
}
.english-reward .img-home img {
    max-height: 100%;
}
.english-reward .btn-3d {
    margin: 60px auto;
}
.btn-3d {
    position: relative;
    display: inline-block;
    padding: 0.75em 2em;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 5px;
}
.btn-3d::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    transition: box-shadow 0.5s ease, transform 0.2s ease;
    will-change: transform;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.btn-3d.btn-purple {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}
.btn-3d.btn-green {
    background: #2D635E;
}
.btn-3d:hover::before {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.btn-3d::after {
    position: relative;
    display: inline-block;
    content: attr(data-title);
    transition: transform 0.2s ease;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.01em;
    will-change: transform;
}

/*English Reward Instruction*/
.english-reward-instruction {
    position: relative;
    background: #F6F8FC;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.left-content {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0 1rem 5rem;
}
.text-instruct {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
}
.right-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}