USE [MaiAnVat]
GO
/****** Object:  Schema [Identity]    Script Date: 7/24/2021 5:45:52 AM ******/
CREATE SCHEMA [Identity]
GO
/****** Object:  Table [dbo].[AccessTokens]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessTokens](
	[AccessTokenId] [int] IDENTITY(1,1) NOT NULL,
	[Token] [char](5000) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[EffectiveTime] [datetimeoffset](7) NOT NULL,
	[ExpiresIn] [int] NOT NULL,
	[UserAgent] [varchar](200) NOT NULL,
	[IP] [varchar](20) NOT NULL,
 CONSTRAINT [PK_AccessTokens_1] PRIMARY KEY CLUSTERED 
(
	[AccessTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Editable] [bit] NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryClassification]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryClassification](
	[CategoryClassificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](512) NOT NULL,
	[CategoryFK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileStorage]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileStorage](
	[FileStorageK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[FileFolder] [nvarchar](255) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_FileStorage] PRIMARY KEY CLUSTERED 
(
	[FileStorageK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[Status] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ParentGroupFK] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupPermission]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupPermission](
	[GroupPermissionK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupFK] [uniqueidentifier] NULL,
	[PermissionFK] [uniqueidentifier] NULL,
	[Status] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job](
	[JobK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[IsActivated] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeactivatedUtc] [datetime] NULL,
	[DeactivatedUserFK] [int] NULL,
	[WorkflowStatusFK] [uniqueidentifier] NULL,
	[CustomerOrder] [varchar](50) NULL,
	[Title] [nvarchar](64) NULL,
	[Name] [nvarchar](128) NULL,
	[Description] [nvarchar](512) NULL,
	[RegistrationDeadline] [datetime] NULL,
	[IsSubmitted] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignedUser]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignedUser](
	[JobAssignedUserK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[JobAssignmentListFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignedUser] PRIMARY KEY CLUSTERED 
(
	[JobAssignedUserK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignmentList]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignmentList](
	[JobAssignmentListK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[GroupFK] [uniqueidentifier] NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignmentList] PRIMARY KEY CLUSTERED 
(
	[JobAssignmentListK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAssignmentListStatus]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAssignmentListStatus](
	[JobAssignmentListStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobAssignmentListFK] [uniqueidentifier] NOT NULL,
	[WorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[IsEditable] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobAssignmentListStatus] PRIMARY KEY CLUSTERED 
(
	[JobAssignmentListStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobAttachment]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobAttachment](
	[JobAttachmentK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[FileStorageFK] [uniqueidentifier] NOT NULL,
	[ListCategoryFK] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](512) NULL,
	[FileDescription] [nvarchar](2024) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobMessage]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobMessage](
	[MessageK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[MessageText] [nvarchar](4000) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[MessageFK] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobType]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobType](
	[JobTypeK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](128) NULL,
	[Description] [nvarchar](512) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DefaultTimeInHours] [int] NOT NULL,
	[ColorCode] [varchar](7) NULL,
	[IsException] [bit] NULL,
	[DefaultWorkFlowFK] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobTypeWorkFlow]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTypeWorkFlow](
	[JobTypeWorkFlowK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[JobTypeFK] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[Description] [nvarchar](512) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_JobTypeWorkflow] PRIMARY KEY CLUSTERED 
(
	[JobTypeWorkFlowK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobWorkFlowMove]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobWorkFlowMove](
	[JobWorkFlowMoveK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[FromWorkFlowStatusFK] [uniqueidentifier] NULL,
	[ToWorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobWorkFlowMove] PRIMARY KEY CLUSTERED 
(
	[JobWorkFlowMoveK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobWorkFlowStatus]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobWorkFlowStatus](
	[JobWorkFlowStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[JobTypeWorkFlowFK] [uniqueidentifier] NOT NULL,
	[FromWorkFlowStatusFK] [uniqueidentifier] NULL,
	[ToWorkFlowStatusFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_JobWorkFlowStatus] PRIMARY KEY CLUSTERED 
(
	[JobWorkFlowStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListCategory]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListCategory](
	[ListCategoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](512) NOT NULL,
	[CategoryFK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[Description] [nvarchar](2024) NULL,
	[IsDisabled] [bit] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MavMenu]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MavMenu](
	[MavMenuK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[MenuID] [int] IDENTITY(1,1) NOT NULL,
	[MenuName] [nvarchar](255) NOT NULL,
	[MenuType] [nvarchar](64) NULL,
	[UiSref] [nvarchar](255) NULL,
	[UiSrefActiveIf] [nvarchar](255) NULL,
	[ParentMenuID] [int] NULL,
	[MenuOrder] [tinyint] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[MenuLevel] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DisplayMenuName] [nvarchar](255) NOT NULL,
	[FeatureKey] [nvarchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[EntityTypeName] [nvarchar](250) NULL,
	[EntityId] [nvarchar](96) NULL,
	[NotificationName] [nvarchar](96) NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[PermissionK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupingName] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionType]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionType](
	[PermissionTypeK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[OrderOfPrecedence] [int] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[RefreshTokenK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserFK] [int] NULL,
	[IssuedUtc] [datetime] NULL,
	[ExpiresUtc] [datetime] NULL,
	[ProtectedTicket] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistrationJob]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistrationJob](
	[RegistrationJobK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ConfirmedUtc] [datetime] NULL,
	[ConfirmedUserFK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RejectedReason]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RejectedReason](
	[RejectedReasonK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[ReasonFK] [uniqueidentifier] NOT NULL,
	[ReviewJobHistoryFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewJobHistory]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewJobHistory](
	[ReviewJobHistoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[ReviewStatusFK] [uniqueidentifier] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[ReviewBy] [int] NOT NULL,
	[ReviewTimeStamp] [datetime] NULL,
	[JobFK] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[JobFK] [uniqueidentifier] NOT NULL,
	[ScheduleTypeFK] [uniqueidentifier] NOT NULL,
	[UserFK] [int] NOT NULL,
	[PlannedStartDate] [datetime] NOT NULL,
	[PlannedEndDate] [datetime] NOT NULL,
	[ActualStartDate] [datetime] NULL,
	[ActualEndDate] [datetime] NULL,
	[Lock] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleHistory]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleHistory](
	[ScheduleHistoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleFK] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](64) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[UserFK] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SchemaVersions]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](255) NOT NULL,
	[Applied] [datetime] NOT NULL,
 CONSTRAINT [PK_SchemaVersions_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserGroup]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserGroup](
	[UserGroupK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[GroupFK] [uniqueidentifier] NULL,
	[UserFK] [int] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginHistory]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginHistory](
	[UserLoginHistoryK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[UserOperation] [nvarchar](50) NULL,
	[Message] [nvarchar](250) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserNotification]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserNotification](
	[UserNotificationK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[UserFK] [int] NOT NULL,
	[NotificationFK] [uniqueidentifier] NOT NULL,
	[State] [int] NOT NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkFlowStatus]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkFlowStatus](
	[WorkFlowStatusK] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Identity] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Description] [nvarchar](512) NULL,
	[PreviousStatusK] [uniqueidentifier] NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[StatusCode] [varchar](64) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Identity].[Claim]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[Claim](
	[UserClaimK] [int] IDENTITY(1,1) NOT NULL,
	[UserFK] [int] NOT NULL,
	[Type] [nvarchar](max) NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_Identity.Claim] PRIMARY KEY CLUSTERED 
(
	[UserClaimK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[User]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[PasswordHash] [nvarchar](512) NULL,
	[PhoneNumber] [nvarchar](128) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NULL,
	[CreatedAtUtc] [datetime] NOT NULL,
	[CreatedByUserFK] [int] NOT NULL,
	[ModifiedAtUtc] [datetime] NULL,
	[ModifiedByUserFK] [int] NULL,
	[IsDeleted] [bit] NOT NULL,
	[LastLoginDateUtc] [datetime] NULL,
	[PasswordExpirationDateUtc] [datetime] NULL,
	[Status] [bit] NULL,
	[ChangePasswordFailedCount] [int] NOT NULL,
	[LoginOption] [int] NULL,
	[DateOfBirth] [datetime] NULL,
	[PersonalEmailAddress] [nvarchar](64) NULL,
	[MobileNumber] [nvarchar](64) NULL,
	[ImageFileName] [nvarchar](256) NULL,
	[PasswordSalt] [varchar](300) NULL,
 CONSTRAINT [PK_Identity.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [Identity].[UserLogin]    Script Date: 7/24/2021 5:45:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Identity].[UserLogin](
	[UserLoginK] [int] IDENTITY(1,1) NOT NULL,
	[UserFK] [int] NOT NULL,
	[LoginProvider] [nvarchar](max) NULL,
	[ProviderKey] [nvarchar](max) NULL,
 CONSTRAINT [PK_Identity.UserLogin] PRIMARY KEY CLUSTERED 
(
	[UserLoginK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AccessTokens] ON 

SET IDENTITY_INSERT [dbo].[AccessTokens] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryK], [Identity], [Name], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Editable], [Description], [IsDisabled]) VALUES (N'75b84d4b-ceeb-eb11-ba93-b42e99af4c43', 23, N'JobType', CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, 0, NULL, N'Danh sách loại công việc ', NULL)
INSERT [dbo].[Category] ([CategoryK], [Identity], [Name], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Editable], [Description], [IsDisabled]) VALUES (N'76b84d4b-ceeb-eb11-ba93-b42e99af4c43', 24, N'ActionType', CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, 0, NULL, N'Loại hành động', NULL)
INSERT [dbo].[Category] ([CategoryK], [Identity], [Name], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Editable], [Description], [IsDisabled]) VALUES (N'77b84d4b-ceeb-eb11-ba93-b42e99af4c43', 25, N'StatusType', CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, CAST(N'2021-07-23T22:54:43.410' AS DateTime), 1, 0, NULL, N'Loại trạng thái', NULL)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([GroupK], [Identity], [Name], [Description], [Status], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ParentGroupFK]) VALUES (N'18c1cd78-1bab-4199-b409-aa174495904e', 1, N'Admin', N'Đầy đủ quyền để sử dụng hệ thống', 1, CAST(N'2021-07-23T19:51:01.250' AS DateTime), 1, CAST(N'2021-07-23T19:51:01.250' AS DateTime), NULL, 0, NULL)
INSERT [dbo].[Group] ([GroupK], [Identity], [Name], [Description], [Status], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ParentGroupFK]) VALUES (N'a4e90dce-1d7e-4361-a55e-8422d129eec3', 2, N'Nhân viên', N'Có quyền quản lý công việc cá nhân và đăng ký công việc.', 1, CAST(N'2021-07-23T19:51:37.297' AS DateTime), 1, CAST(N'2021-07-23T19:51:48.770' AS DateTime), 1, 0, NULL)
INSERT [dbo].[Group] ([GroupK], [Identity], [Name], [Description], [Status], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ParentGroupFK]) VALUES (N'e6e86977-e602-4d27-945f-9c0cbf2ad0a3', 3, N'Quản lý công việc', N'Phê duyệt đơn đăng ký và phê duyệt công việc', 1, CAST(N'2021-07-23T19:52:57.240' AS DateTime), 1, CAST(N'2021-07-23T19:52:57.240' AS DateTime), NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Job] ON 

SET IDENTITY_INSERT [dbo].[Job] OFF
GO
SET IDENTITY_INSERT [dbo].[JobType] ON 

INSERT [dbo].[JobType] ([JobTypeK], [Identity], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [DefaultTimeInHours], [ColorCode], [IsException], [DefaultWorkFlowFK]) VALUES (N'272169ae-0f52-4544-a6eb-4607de1d3796', 2, N'QA', N'QA', CAST(N'2021-07-18T07:02:58.310' AS DateTime), 1, CAST(N'2021-07-18T07:51:06.690' AS DateTime), 1, 0, 8, N'#444', 0, N'06cb4c50-2cea-eb11-ba93-b42e99af4c43')
INSERT [dbo].[JobType] ([JobTypeK], [Identity], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [DefaultTimeInHours], [ColorCode], [IsException], [DefaultWorkFlowFK]) VALUES (N'3e365d88-9a93-4085-a105-b29f7483a8ca', 3, N'BA', N'BA', CAST(N'2021-07-18T07:04:06.113' AS DateTime), 1, CAST(N'2021-07-21T09:46:43.893' AS DateTime), 1, 0, 8, N'#444', 0, N'06cb4c50-2cea-eb11-ba93-b42e99af4c43')
INSERT [dbo].[JobType] ([JobTypeK], [Identity], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [DefaultTimeInHours], [ColorCode], [IsException], [DefaultWorkFlowFK]) VALUES (N'e9fa86a1-10b1-4a15-8ad4-88ce2af2d518', 4, N'BE', N'Back-end dev', CAST(N'2021-07-18T07:06:18.083' AS DateTime), 1, CAST(N'2021-07-21T09:46:46.527' AS DateTime), 1, 0, 8, N'#444', 0, N'06cb4c50-2cea-eb11-ba93-b42e99af4c43')
SET IDENTITY_INSERT [dbo].[JobType] OFF
GO
SET IDENTITY_INSERT [dbo].[JobTypeWorkFlow] ON 

INSERT [dbo].[JobTypeWorkFlow] ([JobTypeWorkFlowK], [Identity], [JobTypeFK], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [IsEnabled]) VALUES (N'340eebcb-4feb-eb11-ba93-b42e99af4c43', 2, N'bfd21618-3d34-427d-aeb8-2996e6d8df4d', N'Lập trình ', N'Luồng công việc cho lập trìn', CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1)
INSERT [dbo].[JobTypeWorkFlow] ([JobTypeWorkFlowK], [Identity], [JobTypeFK], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [IsEnabled]) VALUES (N'e2f600cb-e1eb-eb11-ba93-b42e99af4c43', 1, N'b48e224b-08cb-427f-aba1-d2a25b23d856', N'Luồng cho BA', NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1)
INSERT [dbo].[JobTypeWorkFlow] ([JobTypeWorkFlowK], [Identity], [JobTypeFK], [Name], [Description], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [IsEnabled]) VALUES (N'288a7ada-e1eb-eb11-ba93-b42e99af4c43', 2, N'8f8df97b-201e-4820-8d72-a1dbc657b360', N'Luồng cho QA', NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, 1)
SET IDENTITY_INSERT [dbo].[JobTypeWorkFlow] OFF
GO
SET IDENTITY_INSERT [dbo].[JobWorkFlowStatus] ON 

INSERT [dbo].[JobWorkFlowStatus] ([JobWorkFlowStatusK], [Identity], [JobTypeWorkFlowFK], [FromWorkFlowStatusFK], [ToWorkFlowStatusFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'b7d28b8a-e2eb-eb11-ba93-b42e99af4c43', 1, N'e2f600cb-e1eb-eb11-ba93-b42e99af4c43', N'06cb4c50-2cea-eb11-ba93-b42e99af4c43', N'06cb4c50-2cea-eb11-ba93-b42e99af4c44', CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[JobWorkFlowStatus] ([JobWorkFlowStatusK], [Identity], [JobTypeWorkFlowFK], [FromWorkFlowStatusFK], [ToWorkFlowStatusFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'41f93399-e2eb-eb11-ba93-b42e99af4c43', 2, N'e2f600cb-e1eb-eb11-ba93-b42e99af4c43', N'06cb4c50-2cea-eb11-ba93-b42e99af4c44', N'06cb4c50-2cea-eb11-ba93-b42e99af4c45', CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
INSERT [dbo].[JobWorkFlowStatus] ([JobWorkFlowStatusK], [Identity], [JobTypeWorkFlowFK], [FromWorkFlowStatusFK], [ToWorkFlowStatusFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'052987aa-e2eb-eb11-ba93-b42e99af4c43', 4, N'e2f600cb-e1eb-eb11-ba93-b42e99af4c43', N'06cb4c50-2cea-eb11-ba93-b42e99af4c45', N'06cb4c50-2cea-eb11-ba93-b42e99af4c47', CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[JobWorkFlowStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[ListCategory] ON 

INSERT [dbo].[ListCategory] ([ListCategoryK], [Identity], [Name], [CategoryFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Description], [IsDisabled]) VALUES (N'dab6bfc0-fb81-40ca-bc08-eb8419b66f98', 43, N'Awaiting Review', N'35c65f37-50fd-4fbf-a18b-8b4fc00c5bf3', CAST(N'2021-07-23T15:54:43.427' AS DateTime), 1, NULL, NULL, 0, N'Đang chờ phê duyệt', 0)
INSERT [dbo].[ListCategory] ([ListCategoryK], [Identity], [Name], [CategoryFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Description], [IsDisabled]) VALUES (N'db91fdd4-34c3-4ffa-82c8-61049f3486b9', 44, N'Declined', N'35c65f37-50fd-4fbf-a18b-8b4fc00c5bf3', CAST(N'2021-07-23T15:54:43.427' AS DateTime), 1, NULL, NULL, 0, N'Đã từ chối', 0)
INSERT [dbo].[ListCategory] ([ListCategoryK], [Identity], [Name], [CategoryFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [Description], [IsDisabled]) VALUES (N'db9b2407-6197-4051-9cd7-66249fd0f555', 45, N'Approved', N'35c65f37-50fd-4fbf-a18b-8b4fc00c5bf3', CAST(N'2021-07-23T15:54:43.427' AS DateTime), 1, NULL, NULL, 0, N'Đã chấp nhận', 0)
SET IDENTITY_INSERT [dbo].[ListCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([PermissionK], [Identity], [GroupingName], [Name], [Description], [IsEnabled], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'a321e343-34fb-4890-ac9d-df3b5a242980', 27, N'Administration', N'Change User Status', N'Thay đổi trạng thái người dùng ', 1, CAST(N'2021-07-23T07:45:38.833' AS DateTime), 1, CAST(N'2021-07-23T07:45:38.837' AS DateTime), 1, 0)
INSERT [dbo].[Permission] ([PermissionK], [Identity], [GroupingName], [Name], [Description], [IsEnabled], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'0c2ee4a4-1e72-4691-89a0-6a6941812d09', 28, N'Administration', N'Add/Edit User Details', N'Thêm/sửa chi tiết người dùng', 1, CAST(N'2021-07-23T07:45:38.833' AS DateTime), 1, CAST(N'2021-07-23T07:45:38.837' AS DateTime), 1, 0)
INSERT [dbo].[Permission] ([PermissionK], [Identity], [GroupingName], [Name], [Description], [IsEnabled], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'ae782b6e-697f-49c0-a97f-d775c3ab055e', 29, N'Administration', N'Delete/Undelete User', N'Xóa/Hủy xóa người dùng', 1, CAST(N'2021-07-23T07:45:38.833' AS DateTime), 1, CAST(N'2021-07-23T07:45:38.837' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[Permission] OFF
GO
SET IDENTITY_INSERT [dbo].[RegistrationJob] ON 

INSERT [dbo].[RegistrationJob] ([RegistrationJobK], [Identity], [JobFK], [IsAccepted], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ConfirmedUtc], [ConfirmedUserFK]) VALUES (N'a2101e12-7091-4f0f-9c00-d2d2e1246018', 1, N'ded0a83d-bdc4-4c76-9c95-66621579b15c', 0, CAST(N'2021-07-23T10:30:01.087' AS DateTime), 2, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[RegistrationJob] ([RegistrationJobK], [Identity], [JobFK], [IsAccepted], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ConfirmedUtc], [ConfirmedUserFK]) VALUES (N'26041b44-5060-408a-a93a-12a00d657df8', 2, N'9499d072-4503-42a7-a31b-56c2e0b104f7', 0, CAST(N'2021-07-23T19:26:42.633' AS DateTime), 2, NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[RegistrationJob] ([RegistrationJobK], [Identity], [JobFK], [IsAccepted], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [ConfirmedUtc], [ConfirmedUserFK]) VALUES (N'1ac4951b-45df-4e63-b9b6-2039fbe66082', 3, N'2a377d0c-3c36-47ed-8550-a171ff01234e', 0, CAST(N'2021-07-23T19:32:23.757' AS DateTime), 2, NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[RegistrationJob] OFF
GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] ON 

INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (2035, N'MaiAnVat.Database.Up.Scripts.Script00001.Ref.ID.User.sql', CAST(N'2021-07-24T00:35:53.510' AS DateTime))
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (2036, N'MaiAnVat.Database.Up.Scripts.Script00002.Category.sql', CAST(N'2021-07-24T00:35:53.517' AS DateTime))
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (2037, N'MaiAnVat.Database.Up.Scripts.Script00003.UserPermission.sql', CAST(N'2021-07-24T00:35:53.537' AS DateTime))
SET IDENTITY_INSERT [dbo].[SchemaVersions] OFF
GO
SET IDENTITY_INSERT [dbo].[UserGroup] ON 

INSERT [dbo].[UserGroup] ([UserGroupK], [Identity], [GroupFK], [UserFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'a324f79c-f2eb-eb11-9608-b42e995d1b29', 1, N'18c1cd78-1bab-4199-b409-aa174495904e', 1, CAST(N'2021-07-23T19:51:01.250' AS DateTime), 1, CAST(N'2021-07-23T19:51:01.250' AS DateTime), 1, 0)
INSERT [dbo].[UserGroup] ([UserGroupK], [Identity], [GroupFK], [UserFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'66ebc3c5-f2eb-eb11-9608-b42e995d1b29', 3, N'a4e90dce-1d7e-4361-a55e-8422d129eec3', 2, CAST(N'2021-07-23T19:51:37.297' AS DateTime), 1, CAST(N'2021-07-23T19:51:37.297' AS DateTime), 1, 0)
INSERT [dbo].[UserGroup] ([UserGroupK], [Identity], [GroupFK], [UserFK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted]) VALUES (N'dcfa91d8-f2eb-eb11-9608-b42e995d1b29', 4, N'a4e90dce-1d7e-4361-a55e-8422d129eec3', 3, CAST(N'2021-07-23T19:51:37.297' AS DateTime), 1, CAST(N'2021-07-23T19:51:37.297' AS DateTime), 1, 0)
SET IDENTITY_INSERT [dbo].[UserGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkFlowStatus] ON 

INSERT [dbo].[WorkFlowStatus] ([WorkFlowStatusK], [Identity], [Name], [Description], [PreviousStatusK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [StatusCode]) VALUES (N'06cb4c50-2cea-eb11-ba93-b42e99af4c43', 3, N'Awaiting Registration', N'Đang đợi phê duyệt đăng ký', NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, NULL)
INSERT [dbo].[WorkFlowStatus] ([WorkFlowStatusK], [Identity], [Name], [Description], [PreviousStatusK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [StatusCode]) VALUES (N'06cb4c50-2cea-eb11-ba93-b42e99af4c44', 4, N'Approved Registration', N'Chấp nhận đăng ký', NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, NULL)
INSERT [dbo].[WorkFlowStatus] ([WorkFlowStatusK], [Identity], [Name], [Description], [PreviousStatusK], [CreatedAtUtc], [CreatedByUserFK], [ModifiedAtUtc], [ModifiedByUserFK], [IsDeleted], [StatusCode]) VALUES (N'06cb4c50-2cea-eb11-ba93-b42e99af4c45', 5, N'To do', N'Đang làm ', NULL, CAST(N'2021-01-01T00:00:00.000' AS DateTime), 1, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[WorkFlowStatus] OFF
GO
SET IDENTITY_INSERT [Identity].[User] ON 

SET IDENTITY_INSERT [Identity].[User] OFF
GO
/****** Object:  Index [PK__Category__0801D9A56A6FA8F4]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [PK__Category__0801D9A56A6FA8F4] PRIMARY KEY NONCLUSTERED 
(
	[CategoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Category__F271C410DEB54281]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[CategoryClassification] ADD PRIMARY KEY NONCLUSTERED 
(
	[CategoryClassificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Group__D10DF35852D19C61]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [PK__Group__D10DF35852D19C61] PRIMARY KEY NONCLUSTERED 
(
	[GroupK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__GroupPer__77B40ED12E8B83A7]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[GroupPermission] ADD PRIMARY KEY NONCLUSTERED 
(
	[GroupPermissionK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Job__9E749C2A838D7FE7]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [PK__Job__9E749C2A838D7FE7] PRIMARY KEY NONCLUSTERED 
(
	[JobK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__JobAttac__789D83C7C2EA63C1]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[JobAttachment] ADD PRIMARY KEY NONCLUSTERED 
(
	[JobAttachmentK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__JobMessa__0FB9948AD03425A1]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[JobMessage] ADD PRIMARY KEY NONCLUSTERED 
(
	[MessageK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__JobType__1DA7FD3D155C9F3F]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[JobType] ADD PRIMARY KEY NONCLUSTERED 
(
	[JobTypeK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__ListCate__9434FEB670354244]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[ListCategory] ADD  CONSTRAINT [PK__ListCate__9434FEB670354244] PRIMARY KEY NONCLUSTERED 
(
	[ListCategoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__MavMenu__70F3A95F5B57C420]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[MavMenu] ADD PRIMARY KEY NONCLUSTERED 
(
	[MavMenuK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Notifica__A72F067D9EFB488E]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Notification] ADD PRIMARY KEY NONCLUSTERED 
(
	[NotificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Permissi__C5E77B0E6664659D]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Permission] ADD PRIMARY KEY NONCLUSTERED 
(
	[PermissionK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Permissi__619CC52086E4EC18]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[PermissionType] ADD PRIMARY KEY NONCLUSTERED 
(
	[PermissionTypeK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__RefreshT__FE60091B27E5BD8B]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[RefreshToken] ADD PRIMARY KEY NONCLUSTERED 
(
	[RefreshTokenK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Registra__BB73567E3E0C0160]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[RegistrationJob] ADD PRIMARY KEY NONCLUSTERED 
(
	[RegistrationJobK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__RejectedReason__9E749C2A838D7FE7]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[RejectedReason] ADD  CONSTRAINT [PK__RejectedReason__9E749C2A838D7FE7] PRIMARY KEY NONCLUSTERED 
(
	[RejectedReasonK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__ReviewJobHistory__9E749C2A838D7FE7]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[ReviewJobHistory] ADD  CONSTRAINT [PK__ReviewJobHistory__9E749C2A838D7FE7] PRIMARY KEY NONCLUSTERED 
(
	[ReviewJobHistoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Schedule__FA9A8324C08B6AC2]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[Schedule] ADD PRIMARY KEY NONCLUSTERED 
(
	[ScheduleK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__Schedule__B65DE38F892D660B]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[ScheduleHistory] ADD PRIMARY KEY NONCLUSTERED 
(
	[ScheduleHistoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserGrou__240A7FB786F6A73A]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[UserGroup] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserGroupK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserLogi__BB63EF727E44F42E]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[UserLoginHistory] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserLoginHistoryK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__UserNoti__77919427CB613137]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[UserNotification] ADD PRIMARY KEY NONCLUSTERED 
(
	[UserNotificationK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [PK__WorkFlow__5FC254F1C5620CAC]    Script Date: 7/24/2021 5:45:53 AM ******/
ALTER TABLE [dbo].[WorkFlowStatus] ADD  CONSTRAINT [PK__WorkFlow__5FC254F1C5620CAC] PRIMARY KEY NONCLUSTERED 
(
	[WorkFlowStatusK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Category] ADD  CONSTRAINT [DF__Category__Catego__398D8EEE]  DEFAULT (newsequentialid()) FOR [CategoryK]
GO
ALTER TABLE [dbo].[CategoryClassification] ADD  DEFAULT (newsequentialid()) FOR [CategoryClassificationK]
GO
ALTER TABLE [dbo].[FileStorage] ADD  DEFAULT (newsequentialid()) FOR [FileStorageK]
GO
ALTER TABLE [dbo].[Group] ADD  CONSTRAINT [DF__Group__GroupK__68487DD7]  DEFAULT (newsequentialid()) FOR [GroupK]
GO
ALTER TABLE [dbo].[GroupPermission] ADD  DEFAULT (newsequentialid()) FOR [GroupPermissionK]
GO
ALTER TABLE [dbo].[Job] ADD  CONSTRAINT [DF__Job__JobK__66603565]  DEFAULT (newsequentialid()) FOR [JobK]
GO
ALTER TABLE [dbo].[JobAssignedUser] ADD  CONSTRAINT [DF_JobAssignedUser_JobAssignedUserK]  DEFAULT (newsequentialid()) FOR [JobAssignedUserK]
GO
ALTER TABLE [dbo].[JobAssignmentList] ADD  CONSTRAINT [DF_JobAssignmentList_JobAssignmentListK]  DEFAULT (newsequentialid()) FOR [JobAssignmentListK]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] ADD  DEFAULT (newsequentialid()) FOR [JobAssignmentListStatusK]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[JobAttachment] ADD  DEFAULT (newsequentialid()) FOR [JobAttachmentK]
GO
ALTER TABLE [dbo].[JobMessage] ADD  DEFAULT (newsequentialid()) FOR [MessageK]
GO
ALTER TABLE [dbo].[JobType] ADD  DEFAULT (newsequentialid()) FOR [JobTypeK]
GO
ALTER TABLE [dbo].[JobType] ADD  CONSTRAINT [DF_JobType_ColorCode]  DEFAULT (N'#5bc0de') FOR [ColorCode]
GO
ALTER TABLE [dbo].[JobType] ADD  DEFAULT ((1)) FOR [IsException]
GO
ALTER TABLE [dbo].[JobTypeWorkFlow] ADD  CONSTRAINT [DF_JobTypeWorkflow_JobTypeWorkFlowK]  DEFAULT (newsequentialid()) FOR [JobTypeWorkFlowK]
GO
ALTER TABLE [dbo].[JobWorkFlowMove] ADD  CONSTRAINT [DF_JobWorkFlowMove_JobWorkFlowMoveK]  DEFAULT (newsequentialid()) FOR [JobWorkFlowMoveK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] ADD  CONSTRAINT [DF_JobWorkFlowStatus_JobWorkFlowStatusK]  DEFAULT (newsequentialid()) FOR [JobWorkFlowStatusK]
GO
ALTER TABLE [dbo].[ListCategory] ADD  CONSTRAINT [DF__ListCateg__ListC__4BAC3F29]  DEFAULT (newsequentialid()) FOR [ListCategoryK]
GO
ALTER TABLE [dbo].[MavMenu] ADD  DEFAULT (newsequentialid()) FOR [MavMenuK]
GO
ALTER TABLE [dbo].[MavMenu] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (newsequentialid()) FOR [NotificationK]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (newsequentialid()) FOR [PermissionK]
GO
ALTER TABLE [dbo].[PermissionType] ADD  DEFAULT (newsequentialid()) FOR [PermissionTypeK]
GO
ALTER TABLE [dbo].[RefreshToken] ADD  DEFAULT (newsequentialid()) FOR [RefreshTokenK]
GO
ALTER TABLE [dbo].[RegistrationJob] ADD  DEFAULT (newsequentialid()) FOR [RegistrationJobK]
GO
ALTER TABLE [dbo].[RejectedReason] ADD  CONSTRAINT [DF__RejectedReason__RejectedReasonK__66603565]  DEFAULT (newsequentialid()) FOR [RejectedReasonK]
GO
ALTER TABLE [dbo].[ReviewJobHistory] ADD  CONSTRAINT [DF__ReviewJobHistory__ReviewJobHistoryK__66603565]  DEFAULT (newsequentialid()) FOR [ReviewJobHistoryK]
GO
ALTER TABLE [dbo].[Schedule] ADD  DEFAULT (newsequentialid()) FOR [ScheduleK]
GO
ALTER TABLE [dbo].[ScheduleHistory] ADD  DEFAULT (newsequentialid()) FOR [ScheduleHistoryK]
GO
ALTER TABLE [dbo].[UserGroup] ADD  DEFAULT (newsequentialid()) FOR [UserGroupK]
GO
ALTER TABLE [dbo].[UserLoginHistory] ADD  DEFAULT (newsequentialid()) FOR [UserLoginHistoryK]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT (newsequentialid()) FOR [UserNotificationK]
GO
ALTER TABLE [dbo].[UserNotification] ADD  DEFAULT ((0)) FOR [State]
GO
ALTER TABLE [dbo].[WorkFlowStatus] ADD  CONSTRAINT [DF__WorkFlowS__WorkF__00200768]  DEFAULT (newsequentialid()) FOR [WorkFlowStatusK]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__AccessFail__06CD04F7]  DEFAULT ((0)) FOR [AccessFailedCount]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__EmailConfi__07C12930]  DEFAULT ((1)) FOR [EmailConfirmed]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__LockoutEna__08B54D69]  DEFAULT ((0)) FOR [LockoutEnabled]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__PhoneNumbe__09A971A2]  DEFAULT ((0)) FOR [PhoneNumberConfirmed]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__CreatedAtU__0A9D95DB]  DEFAULT (getutcdate()) FOR [CreatedAtUtc]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__IsDeleted__0B91BA14]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [Identity].[User] ADD  CONSTRAINT [DF__User__ChangePass__0C85DE4D]  DEFAULT ((0)) FOR [ChangePasswordFailedCount]
GO
ALTER TABLE [dbo].[CategoryClassification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CategoryClassification_dbo.Category_CategoryK] FOREIGN KEY([CategoryFK])
REFERENCES [dbo].[Category] ([CategoryK])
GO
ALTER TABLE [dbo].[CategoryClassification] CHECK CONSTRAINT [FK_dbo.CategoryClassification_dbo.Category_CategoryK]
GO
ALTER TABLE [dbo].[Group]  WITH CHECK ADD  CONSTRAINT [FK_Group_ParentGroup] FOREIGN KEY([ParentGroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[Group] CHECK CONSTRAINT [FK_Group_ParentGroup]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_GroupPermission_ToGroup] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_GroupPermission_ToGroup]
GO
ALTER TABLE [dbo].[GroupPermission]  WITH CHECK ADD  CONSTRAINT [FK_GroupPermission_ToPermission] FOREIGN KEY([PermissionFK])
REFERENCES [dbo].[Permission] ([PermissionK])
GO
ALTER TABLE [dbo].[GroupPermission] CHECK CONSTRAINT [FK_GroupPermission_ToPermission]
GO
ALTER TABLE [dbo].[Job]  WITH NOCHECK ADD  CONSTRAINT [jobs.Job_JobTypeFK_jobs.JobType_JobTypeK] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [jobs.Job_JobTypeFK_jobs.JobType_JobTypeK]
GO
ALTER TABLE [dbo].[Job]  WITH NOCHECK ADD  CONSTRAINT [jobs.Job_WorkflowStatusFK_dbo.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([WorkflowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[Job] CHECK CONSTRAINT [jobs.Job_WorkflowStatusFK_dbo.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_Job] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_Job]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_JobAssignmentList] FOREIGN KEY([JobAssignmentListFK])
REFERENCES [dbo].[JobAssignmentList] ([JobAssignmentListK])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_JobAssignmentList]
GO
ALTER TABLE [dbo].[JobAssignedUser]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignedUser_User] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[JobAssignedUser] CHECK CONSTRAINT [FK_JobAssignedUser_User]
GO
ALTER TABLE [dbo].[JobAssignmentList]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentList_Group] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[JobAssignmentList] CHECK CONSTRAINT [FK_JobAssignmentList_Group]
GO
ALTER TABLE [dbo].[JobAssignmentList]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentList_JobType] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[JobAssignmentList] CHECK CONSTRAINT [FK_JobAssignmentList_JobType]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentListStatus_ToJobAssignmentList] FOREIGN KEY([JobAssignmentListFK])
REFERENCES [dbo].[JobAssignmentList] ([JobAssignmentListK])
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] CHECK CONSTRAINT [FK_JobAssignmentListStatus_ToJobAssignmentList]
GO
ALTER TABLE [dbo].[JobAssignmentListStatus]  WITH CHECK ADD  CONSTRAINT [FK_JobAssignmentListStatus_ToWorkFlowStatus] FOREIGN KEY([WorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobAssignmentListStatus] CHECK CONSTRAINT [FK_JobAssignmentListStatus_ToWorkFlowStatus]
GO
ALTER TABLE [dbo].[JobAttachment]  WITH CHECK ADD  CONSTRAINT [FK.JobAttachment_FileStorageFK.FileStorage_FileStorageK] FOREIGN KEY([FileStorageFK])
REFERENCES [dbo].[FileStorage] ([FileStorageK])
GO
ALTER TABLE [dbo].[JobAttachment] CHECK CONSTRAINT [FK.JobAttachment_FileStorageFK.FileStorage_FileStorageK]
GO
ALTER TABLE [dbo].[JobAttachment]  WITH CHECK ADD  CONSTRAINT [FK.JobAttachment_ListCategoryFK.ListCategory_ListCategoryK] FOREIGN KEY([ListCategoryFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[JobAttachment] CHECK CONSTRAINT [FK.JobAttachment_ListCategoryFK.ListCategory_ListCategoryK]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_JobFK_jobs.Job_JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_JobFK_jobs.Job_JobK]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_MessageFK_jobs.JobMessage_MessageK] FOREIGN KEY([MessageFK])
REFERENCES [dbo].[JobMessage] ([MessageK])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_MessageFK_jobs.JobMessage_MessageK]
GO
ALTER TABLE [dbo].[JobMessage]  WITH CHECK ADD  CONSTRAINT [jobs.JobMessage_UserFK_jobs.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[JobMessage] CHECK CONSTRAINT [jobs.JobMessage_UserFK_jobs.User_Id]
GO
ALTER TABLE [dbo].[JobType]  WITH CHECK ADD  CONSTRAINT [FK_JobType_WorkFlowStatus] FOREIGN KEY([DefaultWorkFlowFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobType] CHECK CONSTRAINT [FK_JobType_WorkFlowStatus]
GO
ALTER TABLE [dbo].[JobTypeWorkFlow]  WITH CHECK ADD  CONSTRAINT [JobTypeWorkFlow_JobTypeFK.JobType_JobTypeK] FOREIGN KEY([JobTypeFK])
REFERENCES [dbo].[JobType] ([JobTypeK])
GO
ALTER TABLE [dbo].[JobTypeWorkFlow] CHECK CONSTRAINT [JobTypeWorkFlow_JobTypeFK.JobType_JobTypeK]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_Job] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_Job]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus] FOREIGN KEY([FromWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus]
GO
ALTER TABLE [dbo].[JobWorkFlowMove]  WITH CHECK ADD  CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus_2] FOREIGN KEY([ToWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowMove] CHECK CONSTRAINT [FK_JobWorkFlowMove_WorkFlowStatus_2]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_FromWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([FromWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_FromWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_JobTypeWorkFlowFK.JobTypeWorkFlow_JobTypeWorkFlowK] FOREIGN KEY([JobTypeWorkFlowFK])
REFERENCES [dbo].[JobTypeWorkFlow] ([JobTypeWorkFlowK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_JobTypeWorkFlowFK.JobTypeWorkFlow_JobTypeWorkFlowK]
GO
ALTER TABLE [dbo].[JobWorkFlowStatus]  WITH CHECK ADD  CONSTRAINT [JobWorkFlowStatus_ToWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK] FOREIGN KEY([ToWorkFlowStatusFK])
REFERENCES [dbo].[WorkFlowStatus] ([WorkFlowStatusK])
GO
ALTER TABLE [dbo].[JobWorkFlowStatus] CHECK CONSTRAINT [JobWorkFlowStatus_ToWorkFlowStatusFK.WorkFlowStatus_WorkFlowStatusK]
GO
ALTER TABLE [dbo].[ListCategory]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListCategory_dbo.Category_CategoryK] FOREIGN KEY([CategoryFK])
REFERENCES [dbo].[Category] ([CategoryK])
GO
ALTER TABLE [dbo].[ListCategory] CHECK CONSTRAINT [FK_dbo.ListCategory_dbo.Category_CategoryK]
GO
ALTER TABLE [dbo].[RegistrationJob]  WITH NOCHECK ADD  CONSTRAINT [registrationjobs.RegistrationJob_JobFK_dbo.Job_JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[RegistrationJob] CHECK CONSTRAINT [registrationjobs.RegistrationJob_JobFK_dbo.Job_JobK]
GO
ALTER TABLE [dbo].[RejectedReason]  WITH NOCHECK ADD  CONSTRAINT [jobs.RejectedReason_ReasonFK.ListCategory_ListCategoryK] FOREIGN KEY([ReasonFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[RejectedReason] CHECK CONSTRAINT [jobs.RejectedReason_ReasonFK.ListCategory_ListCategoryK]
GO
ALTER TABLE [dbo].[RejectedReason]  WITH NOCHECK ADD  CONSTRAINT [jobs.RejectedReason_ReviewJobHistoryFK.ReviewJobHistory_ReviewJobHistoryK] FOREIGN KEY([ReviewJobHistoryFK])
REFERENCES [dbo].[ReviewJobHistory] ([ReviewJobHistoryK])
GO
ALTER TABLE [dbo].[RejectedReason] CHECK CONSTRAINT [jobs.RejectedReason_ReviewJobHistoryFK.ReviewJobHistory_ReviewJobHistoryK]
GO
ALTER TABLE [dbo].[ReviewJobHistory]  WITH CHECK ADD  CONSTRAINT [FK_ReviewJobHistory_Job] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[ReviewJobHistory] CHECK CONSTRAINT [FK_ReviewJobHistory_Job]
GO
ALTER TABLE [dbo].[ReviewJobHistory]  WITH NOCHECK ADD  CONSTRAINT [jobs.ReviewJobHistory_ReviewStatusFK.ListCategory_ListCategoryK] FOREIGN KEY([ReviewStatusFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[ReviewJobHistory] CHECK CONSTRAINT [jobs.ReviewJobHistory_ReviewStatusFK.ListCategory_ListCategoryK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_JobFK.JobK] FOREIGN KEY([JobFK])
REFERENCES [dbo].[Job] ([JobK])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_JobFK.JobK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_ScheduleTypeFK_ListCategory.ListCategoryK] FOREIGN KEY([ScheduleTypeFK])
REFERENCES [dbo].[ListCategory] ([ListCategoryK])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_ScheduleTypeFK_ListCategory.ListCategoryK]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [Schedule_UserFK_User.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [Schedule_UserFK_User.User_Id]
GO
ALTER TABLE [dbo].[ScheduleHistory]  WITH CHECK ADD  CONSTRAINT [FK_ScheduleHistory_Schedule] FOREIGN KEY([ScheduleFK])
REFERENCES [dbo].[Schedule] ([ScheduleK])
GO
ALTER TABLE [dbo].[ScheduleHistory] CHECK CONSTRAINT [FK_ScheduleHistory_Schedule]
GO
ALTER TABLE [dbo].[ScheduleHistory]  WITH CHECK ADD  CONSTRAINT [ScheduleHistory_UserFK_User.User_Id] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[ScheduleHistory] CHECK CONSTRAINT [ScheduleHistory_UserFK_User.User_Id]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_ToGroup] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_ToGroup]
GO
ALTER TABLE [dbo].[UserGroup]  WITH CHECK ADD  CONSTRAINT [FK_UserGroup_ToUser] FOREIGN KEY([GroupFK])
REFERENCES [dbo].[Group] ([GroupK])
GO
ALTER TABLE [dbo].[UserGroup] CHECK CONSTRAINT [FK_UserGroup_ToUser]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotification_dbo.Identity_User_UserFK] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_dbo.UserNotification_dbo.Identity_User_UserFK]
GO
ALTER TABLE [dbo].[UserNotification]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserNotification_dbo.Notification_NotificationFK] FOREIGN KEY([NotificationFK])
REFERENCES [dbo].[Notification] ([NotificationK])
GO
ALTER TABLE [dbo].[UserNotification] CHECK CONSTRAINT [FK_dbo.UserNotification_dbo.Notification_NotificationFK]
GO
ALTER TABLE [Identity].[Claim]  WITH CHECK ADD  CONSTRAINT [FK_Identity.Claim_Identity.User_UserFK] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[Claim] CHECK CONSTRAINT [FK_Identity.Claim_Identity.User_UserFK]
GO
ALTER TABLE [Identity].[UserLogin]  WITH CHECK ADD  CONSTRAINT [FK_Identity.UserLogin_Identity.User_UserFK] FOREIGN KEY([UserFK])
REFERENCES [Identity].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [Identity].[UserLogin] CHECK CONSTRAINT [FK_Identity.UserLogin_Identity.User_UserFK]
GO
