.slick-center div div img{
  /* color: #e67e22;
  opacity: 1; */
  transform: scale(1.5);
  transition: transform 0.5s ease-in-out;
  /* border: 1px solid white; */
}

.slick-slide div div img{
  transition: all 0.5s;
}