.slick-center div img{
  /* color: #e67e22;
  opacity: 1; */
  transform: scale(1.5);
  transition: transform 0.5s;
  /* border: 1px solid white; */
}

.slick-slide div img{
  transition: all 0.5s ease;
}

.slick-slider{
  width: 50%;
}